<div class="col-md-12 top-options-container">
    <div class="row">
        <div class="find">
            <div class="app-logo m-b-xxl">
                <span class="find-logo-large m-r-sm">
                    <%-i18n['app.name.split.firstLine']%>
                    <br/>
                    <%-i18n['app.name.split.secondLine']%>
                </span>
            </div>
            <div class="input-view-container"></div>
            <div class="row suggested-query-row">
                <div class="col-xs-6">
                    <% _.each(companyLinks, function(companyData) { %>
                        <img class="clickable suggested-query" alt="<%-companyData.alt%>" src="<%=logoBasePath%><%=companyData.image%>" data-match="COMPANY=<%-companyData.company%>">
                    <% }) %>
                </div>
                <div class="col-xs-6">
                    <% _.each(indexLinks, function(indexData) { %>
                        <figure class="suggested-index-container suggested-query clickable" data-indexes="<%-indexData.index%>">
                            <i class="fa fa-3x fa-<%=indexData.icon%>"></i>
                            <figcaption><%=indexData.index%></figcaption>
                        </figure>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
    <div class="row tabbed-search-row"></div>
</div>
<div class="query-service-view-container service-view-container">
    <div class="row search-tabs-row">
        <div class="col-xs-12 search-tabs-container"></div>
    </div>
</div>
<div class="document-detail-service-view-container service-view-container hide"></div>
<div class="comparison-service-view-container service-view-container hide"></div>
<div class="hp-logo-footer"></div>
