<div class="col-md-12 top-options-container">
    <div class="row">
        <div class="find">
            <div class="app-logo m-b-xxl">
                <span class="find-logo-large m-r-sm"></span>
            </div>
            <div class="input-view-container"></div>

            <div class="suggestions-box">
                Suggested queries
                <ul>
                    <li class="suggested-query" data-match="SOURCE=GUARDIAN.CO.UK"><a class="hyperlink">Guardian SOURCE</a></li>
                    <li class="suggested-query" data-indexes="HP"><a class="hyperlink">HP Index</a></li>
                    <li class="suggested-query" data-indexes="HP" data-match="SOURCE=GUARDIAN.CO.UK"><a class="hyperlink">HP and Guardian SOURCE</a></li>
                    <li class="suggested-query" data-query-text="Potato"><a class="hyperlink">Potato text</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="query-service-view-container service-view-container">
    <div class="tabbed-search-row"></div>
</div>
<div class="document-detail-service-view-container service-view-container hide"></div>
<div class="hp-logo-footer"></div>
