<table class="table table-hover">
    <% if(false && (model.get('thumbnail') || model.get('thumbnailUrl'))) { %>
        <tr>
            <td class="font-bold"><%-i18n['search.document.thumbnail']%></td>
            <td class="break-all p-l-sm">
                <% if(model.get('thumbnail')) { %>
                    <img class="document-thumbnail m-r-sm pull-left" src="data:image/jpeg;base64,<%=model.get('thumbnail')%>"/>
                <% } else if (model.get('thumbnailUrl')) { %>
                    <img class="document-thumbnail m-r-sm pull-left" src="<%-model.get('thumbnailUrl')%>"/>
                <% } %>
            </td>
        </tr>
    <% } %>

    <% _.each(model.pick([
        'reference',
        'index',
        'title',
        'summary'
    ]), function(value, key) { %>
        <% if(value) { %>
            <tr>
                <td class="font-bold"><%-i18n['search.document.' + key]%></td>
                <td class="break-all p-l-sm"><%-value%></td>
            </tr>
        <% } %>
    <% }); %>

    <% if (model.get('date')) { %>
        <tr>
            <td class="font-bold"><%-i18n['search.document.date']%></td>
            <td class="break-all p-l-sm"><%-model.get('date').format('LLLL')%></td>
        </tr>
    <% } %>

    <% if (model.get('authors')) { %>
        <tr>
            <td class="font-bold">Author</td>
            <td class="break-all p-l-sm">
                <ul class="list-unstyled m-b-nil">
                    <% _.each(model.get('authors'), function(author) { %>
                        <li><%-author%></li>
                    <% }); %>
                </ul>
            </td>
        </tr>
    <% } %>

    <% _.each(fields, function(fieldData) { %>
        <tr>
            <td class="font-bold"><%-fieldData.title%></td>
            <td class="break-all p-l-sm">
                <ul class="list-unstyled m-b-nil">
                    <% _.each(fieldData.values, function(value) { %>
                        <li><%-value%></li>
                    <% }); %>
                </ul>
            </td>
        </tr>
    <% }) %>
</table>


