<div class="btn-group report-pptx-group">
    <button type="button" class="btn btn-default report-pptx"><i class="hp-icon hp-document-download"></i> PPTX</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a class="report-pptx" href="#"><%- powerpointSingle %></a></li>
        <li><a class="report-pptx report-pptx-multipage" href="#"><%- powerpointMultiple %></a></li>
    </ul>
</div>